.main-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main-H1 {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    text-align: center;
}

/* animatie */
.fade-in {
    opacity: 1 !important;
    transition: opacity .8s ease;
}

#caretDown:hover,
#caretRight:hover {
    color: blue;
}


.horizontal-wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

.section {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-Main2 {
    font-family: "Playwrite NL", cursive;
    font-weight: 400;
}

.h1-Main3 {
    font-family: "Playwrite NL", cursive;
    font-weight: 400;
}
