.Main-H1 {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;

  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.buttonM {
    min-height: 7vh;
    min-width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttonM:hover {
        animation: bounce 6.0s;
}



@keyframes bounce {
  0%   { transform: translateY(1); }
  50%  { transform: translateY(-240px); }
  100%  { transform: translateY(4); }
}




body {
    min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* zodat je H1 boven de button blijft */
}
